<!-- yet/templates/yet/venue_detail.html -->

{% extends 'yet/base.html' %}

{% block title %}{{ venue.name }}{% endblock %}

{% block content %}
    <h1>{{ venue.name }}</h1>
    <p>Location: {{ venue.location }}</p>
    <p>Capacity: {{ venue.capacity }}</p>
    <p>Price: ${{ venue.rental_price }}</p>
    <p>Description: {{ venue.description }}</p>
    <h3>Photos</h3>
    <div>
        {% for photo in venue.photos.all %}
            <img src="{{ photo.image.url }}" alt="Venue Photo" style="width: 200px; height: auto;">
        {% endfor %}
    </div>
    <a href="{% url 'create_booking' venue.id %}" class="btn btn-primary">Book Now</a>
{% endblock %}